<div id="<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Scheduled:</strong>
    <%= message.scheduled %>
  </p>

  <p>
    <strong>Send time:</strong>
    <%= message.send_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= message.status %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= message.appointment_id %>
  </p>

</div>
