<div id="<%= dom_id appointment %>">
  <p>
    <strong>Name:</strong>
    <%= appointment.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appointment.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= appointment.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= appointment.end_time %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= appointment.day %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

</div>
